In [3]:
#Answer1

v1 = input("Enter 1st Value")
v2 = input("Enter 2nd Value")
operator = input("Enter operator")

v1 = int(v1)
v2 = int(v2)


if operator == '+':
    value = v1 + v2
    print("answer",value)
    
elif operator == '-':
    value = v1 - v2
    print("answer",value)
    
elif operator == '*':
    value = v1 * v2
    print("answer",value)
    
elif operator == '/':
    value = v1 / v2
    print("answer",value)
    
else :
    print("Invalid operator")

Enter 1st Value23
Enter 2nd Value4
Enter operator+
answer 27

In [1]:
#Answer2

names = ["amna", "habib", "umar", 4] 
for i in names: 
    if type(i) == int: 
        print(i)

4

In [6]:
#Answer3

a = {1: 'rizwan', 2: 'Babar', 3: {1: 'Shaheen', 2:'Imad'}}

a[3][3] = 'Fakhar'
print(a)

{1: 'rizwan', 2: 'Babar', 3: {1: 'Shaheen', 2: 'Imad', 3: 'Fakhar'}}

In [6]:
#Answer4

my_dict = {'one': 1, 'two': 5, 'three': 9}
#print(sum(my_dict.values()))
sum = 0
for i in my_dict:
    sum += my_dict[i]

print(sum)

15

In [17]:
#Answer5

list1 = [2, 4, 5, 6, 4, 9]
list2 = []

for i in list1 :
    if i not in list2 :
        list2.append(i)
        
    else :
        print(i)

4

In [5]:
#Answer6

dict = {
        1: '1094', 2:'1092', 3:'1090'     
        }
 
if dict.get(1) :
    print("Key Exists")
else:
    print("Key Don't Exists")

Key Exists